.resent{
    color: #3D2462;
}
.my{
    background-color: #B051AA26;
}
.pic{
    background-color: #3D2462;
}
.foot{
    background-color: #3D2462;
}
.foot p{
    color: #e2dede;
    padding-top: 50px;
}
.icon{
    width: 50px;
    height: 50px;
}
