{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Alumni List | GradBond{% endblock %}</title>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/list_alumni.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid main py-5" style="min-height: 660px; background-color: antiquewhite;">
  <div class="container">
    {% if alumni_list %}
    <div class="row pt-2 ps-4 mb-4">
        <div class="col-12">
            <h4 class="fw-bold ms-2">
            Found {{ alumni_list.count }} alumni based on your keywords.
            </h4>
        </div>
    </div>


    <div class="row justify-content-center g-4">
      {% for alumni in alumni_list %}
      <div class="col-lg-4 col-md-6 col-sm-8 col-12 d-flex justify-content-center">
        <div class="card rounded-4" style="background-color: #3D2462; width: 100%; max-width: 350px;">

          <div class="p-3">
            <img src="{{ alumni.image.url }}" alt="{{ alumni.full_name }}" 
                 class="rounded" 
                 style="width: 100%; height: 250px; object-fit: cover;">
          </div>

          <div class="card-body text-center px-3">
            <h2 class="card-title text-light fs-4 fw-semibold">{{ alumni.full_name }}</h2>
            <h5 class="text-light fs-6 fw-semibold mb-1">{{ alumni.job_title }}
              <span class="fs-6">({{ alumni.company }})</span>
            </h5>
            <p class="text-light fs-6 mb-1">{{ alumni.university }}</p>
            <p class="text-light fs-6 mb-3">{{ alumni.dept }}</p>

            {% if user.is_authenticated %}
            <div class="d-flex flex-column flex-sm-row justify-content-center gap-3">
              <a href="{% url 'about' alumni.user.id %}" class="btn btn-outline-primary flex-fill rounded-3 fs-6 fw-semibold">About Me</a>
              <a href="{% url 'chat_with_user' alumni.user.id %}" class="btn btn-outline-success flex-fill rounded-3 fs-6 fw-semibold">Message</a>
            </div>
            {% else %}
            <a href="{% url 'signin' %}" class="btn btn-outline-success rounded-3 fs-6 fw-semibold w-75 mx-auto d-block">Say Hello!!</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="row justify-content-center">
      <h3 class="text-center fw-semibold py-5 px-3">
        We could not find any alumni matching your criteria. Kindly refine your search parameters and try again.
      </h3>
    </div>
    {% endif %}
  </div>
</div>



{% endblock %}