{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Alumni List | GradBond{% endblock %}</title>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/list_alumni.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid main">
    <div class="container main">
        <div class="row text-center pt-5 fw-bolder">
            <h1 class="writeh1">Alumni List</h1>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                <div class="card rounded-4" style="background-color: #3D2462;">
                    <img src="{% static './images/Rectangle 30.png' %}" class="card-img-top img-rounded pt-5 ps-5 pe-5" alt="...">
                    <div class="card-body text-center">
                        <h1 class="card-title text-light fw-bolder">AI Shaker</h1>
                        <h3 class="card-title text-light fw-bolder">Sr. Software Engineer</h3>
                        <p class="card-text text-light fs-5 fw-semibold">Bangladesh University of Business and Technology(BUBT)</p><br>
                        <div class="row d-flex justify-content-around">
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-warning w-75 rounded-3 fs-5 fw-bolder mt-3">Email</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-primary w-75 rounded-3 fs-5 fw-bolder mt-3">Linkedin</a>
                            </div>
                        </div><br><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                <div class="card rounded-4 pic" style="background-color: #3D2462;">
                    <img src="{% static './images/Rectangle 30 (1).png' %}" class="card-img-top img-rounded pt-5 ps-5 pe-5" alt="...">
                    <div class="card-body text-center">
                        <h1 class="card-title text-light fw-bolder">AI Shaker</h1>
                        <h3 class="card-title text-light fw-bolder">Sr. Software Engineer</h3>
                        <p class="card-text text-light fs-5 fw-semibold">Bangladesh University of Business and Technology(BUBT)</p><br>
                        <div class="row d-flex justify-content-around">
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-warning w-75 rounded-3 fs-5 fw-bolder mt-3">Email</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-primary w-75 rounded-3 fs-5 fw-bolder mt-3">Linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                <div class="card rounded-4 pic" style="background-color: #3D2462;">
                    <img src="{% static './images/Rectangle 30 (2).png' %}" class="card-img-top img-rounded pt-5 ps-5 pe-5" alt="...">
                    <div class="card-body text-center">
                        <h1 class="card-title text-light fw-bolder">Margaret Hamilton</h1>
                        <h3 class="card-title text-light fw-bolder">Sr. Software Engineer</h3>
                        <p class="card-text text-light fs-5 fw-semibold">Bangladesh University of Business and Technology(BUBT)</p><br>
                        <div class="row d-flex justify-content-around">
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-warning w-75 rounded-3 fs-5 fw-bolder mt-3">Email</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-primary w-75 rounded-3 fs-5 fw-bolder mt-3">Linkedin</a>
                            </div>
                        </div><br><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                <div class="card rounded-4 pic" style="background-color: #3D2462;">
                    <img src="{% static './images/Rectangle 30 (3).png' %}" class="card-img-top img-rounded pt-5 ps-5 pe-5" alt="...">
                    <div class="card-body text-center">
                        <h1 class="card-title text-light fw-bolder">Hedy Lamarr</h1>
                        <h3 class="card-title text-light fw-bolder">Sr. Software Engineer</h3>
                        <p class="card-text text-light fs-5 fw-semibold">Bangladesh University of Business and Technology(BUBT)</p><br>
                        <div class="row d-flex justify-content-around">
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-warning w-75 rounded-3 fs-5 fw-bolder mt-3">Email</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-primary w-75 rounded-3 fs-5 fw-bolder mt-3">Linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br>
        </div>
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                <div class="card rounded-4 pic" style="background-color: #3D2462;">
                    <img src="{% static './images/Rectangle 30 (4).png' %}" class="card-img-top img-rounded pt-5 ps-5 pe-5" alt="...">
                    <div class="card-body text-center">
                        <h1 class="card-title text-light fw-bolder">AI Shaker</h1>
                        <h3 class="card-title text-light fw-bolder">Sr. Software Engineer</h3>
                        <p class="card-text text-light fs-5 fw-semibold">Bangladesh University of Business and Technology(BUBT)</p><br>
                        <div class="row d-flex justify-content-around">
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-warning w-75 rounded-3 fs-5 fw-bolder mt-3">Email</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-primary w-75 rounded-3 fs-5 fw-bolder mt-3">Linkedin</a>
                            </div>
                        </div><br><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                <div class="card rounded-4 pic" style="background-color: #3D2462;">
                    <img src="{% static './images/Rectangle 30 (5).png' %}" class="card-img-top img-rounded pt-5 ps-5 pe-5" alt="...">
                    <div class="card-body text-center">
                        <h1 class="card-title text-light fw-bolder">AI Shaker</h1>
                        <h3 class="card-title text-light fw-bolder">Sr. Software Engineer</h3>
                        <p class="card-text text-light fs-5 fw-semibold">Bangladesh University of Business and Technology(BUBT)</p><br>
                        <div class="row d-flex justify-content-around">
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-warning w-75 rounded-3 fs-5 fw-bolder mt-3">Email</a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-10">
                                <a href="#" class="btn btn-outline-primary w-75 rounded-3 fs-5 fw-bolder mt-3">Linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br><br>
        </div>
    </div>
</div>

{% endblock %}