{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
{% endblock %}


{% block content %}

<div class="container-fluid search">
    <div class="container justify-content-center">
        <div class="row text-center">
            <h1 class="mt-5 fs-1 fw-bolder text-light">Find Alumni Of Your University</h1>
        </div>
        <div class="container searchh mt-5 justify-content-center">
            <form class="d-flex" role="search">
                <input class="form-control text-dark fs-5 fw-bolder w-75 inputbg" type="search"
                    placeholder="Search alumni, keywords, companies   |   Enter University name" aria-label="Search">
                <button class="ms-1 btn btn-success btns" type="submit"> <i class="fa fa-search"></i></button>
            </form>
        </div><br><br>
        <p class="text-light ps-5 fs-4 fw-bolder">Popular Search</p>
        <div class="d-lg-flex flex-row justify-content-evenly">
            <div class="text-light p-lg-0 p-md-3 p-3">
                <a href="#" class="btn btn-lg btn-outline-light rounded-pill btncolor ">Ui Ux Design <i
                        class="fa-solid fa-magnifying-glass ms-3"></i></a>
            </div>
            <div class="text-light p-lg-0 p-md-3 p-3">
                <a href="#" class="btn btn-lg btn-outline-light rounded-pill btncolor">Web Development <i
                        class="fa-solid fa-magnifying-glass ms-3"></i></a>
            </div>
            <div class="text-light p-lg-0 p-md-3 p-3">
                <a href="#" class="btn btn-lg btn-outline-light rounded-pill btncolor">App Development <i
                        class="fa-solid fa-magnifying-glass ms-3"></i></a>
            </div>
            <div class="text-light p-lg-0 p-md-3 p-3">
                <a href="#" class="btn btn-lg btn-outline-light rounded-pill btncolor">BUBT<i
                        class="fa-solid fa-magnifying-glass ms-3"></i></a>
            </div>
            <div class="text-light p-lg-0 p-md-3 p-3">
                <a href="#" class="btn btn-lg btn-outline-light rounded-pill btncolor">BUET <i
                        class="fa-solid fa-magnifying-glass ms-3"></i></a>
            </div>
        </div><br><br><br>

    </div>
</div>
<div class="container-fluid bg-light">
    <div class="container mt-3">
        <div class="d-lg-flex justify-content-around">
            <div class="col-lg-6 col-md-12 col-12 text-center p-5">
                <img src="{% static './images/Rectangle 11.png' %}" alt="" class="img-fluid w-lg-100 w-md-100 w-100">
            </div>
            <div class="col-lg-6 col-md-12 col-12 mt-5 pt-5">
                <h1 class="text-dark fs-1 fw-bolder">The Leading Alumni</h1>
                <h1 class="text-dark fs-1 fw-bolder">Finding Website .</h1>
                <p class="text-dark fs-5 writep">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatibus maxime ratione ducimus minus
                    facere cupiditate veritatis. Tempora, ipsam aut harum delectus et facilis magnam sed? Lorem ipsum
                    dolor sit, amet consectetur adipisicing elit. Voluptates qui quod cupiditate facere itaque dolore ex
                    iure, eligendi illo dignissimos exercitationem aut nemo esse fugiat magnam? Facilis asperiores saepe
                    sunt consectetur ut nemo eligendi? Nemo fuga molestiae possimus ab tempora minus molestias eveniet
                    assumenda aut</p>
                <!-- <div class="d-lg-flex d-md-flex justify-content-evenly">
                    <div>
                        <p><img src="{% static './images/house.png' %}" alt=""> <a href="#"
                                class="text-dark  text-decoration-none">Find University Alumni</a></p>
                    </div>
                    <div>
                        <p><img src="{% static './images/house.png' %}" alt=""> <a href="#"
                                class="text-dark  text-decoration-none">Find University Alumni</a></p>
                    </div>
                </div>
                <div class="d-lg-flex d-md-flex justify-content-evenly">
                    <div>
                        <p><img src="{% static './images/house.png' %}" alt=""> <a href="#"
                                class="text-dark  text-decoration-none">Find University Alumni</a></p>
                    </div>
                    <div>
                        <p><img src="{% static './images/house.png' %}" alt=""> <a href="#"
                                class="text-dark  text-decoration-none">Find University Alumni</a></p>
                    </div>
                </div><br> -->
                <!-- <div class="d-flex justify-content-around lorem">
                    <p class="p-3">Lorem Ipsum is simply dummy text of the printing and types industry. Lorem Ipsum
                        has been the industry's standard dummy</p>
                </div> -->
                <div class="text-lg-center text-md-center text-center pt-5">
                    <!-- <a href="find_alumni" class="service">Find Alumni</a> -->
                    <a href="./find_alumni.html"><button type="button" href="find_alumni" class="service">Find
                            Alumni</button></a>
                </div><br><br>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-1">
    <div class="container">
        <div class="row text-center">
            <h1 class="mt-5 fs-1 fw-bolder resent">Resent Event / Workshop</h1>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                <div class="card rounded-4 " style="background-color: #3D2462;">
                    <img src="{% static './images/Rectangle 18 (4).png' %}" class="card-img-top pt-5 ps-5 pe-5" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title text-light fw-bolder">Find Best Alumni Near me</h3>
                        <p class="writep card-text text-secondary fs-5">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Unde esse, facilis nam fuga necessitatibus libero nisi! Odit, soluta! Cum,
                            dolorum.</p><br>
                        <a href="#"
                            class="btn btn-light btn-lg ps-5 pe-5 fs-3 fw-bolder btn-outline-success">Details</a><br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                <div class="card rounded-4 pic" style="background-color: #3D2462;">
                    <img src="{% static './images/Rectangle 18 (1).png' %}" class="card-img-top pt-5 ps-5 pe-5" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title text-light fw-bolder">Find Best Alumni Near me</h3>
                        <p class="writep card-text text-secondary fs-5">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Tenetur dolorem blanditiis nulla. Autem laboriosam voluptatibus repellat
                            veniam nihil sequi voluptas.</p><br>
                        <a href="#"
                            class="btn btn-light btn-lg ps-5 pe-5 fs-3 fw-bolder btn-outline-success">Details</a><br><br><br>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-5 d-flex justify-content-center">
            <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                <div class="card rounded-4 pic" style="background-color: #3D2462;">
                    <img src="{% static './images/Rectangle 18 (2).png' %}" class="card-img-top pt-5 ps-5 pe-5" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title text-light fw-bolder">Find Best Alumni Near me</h3>
                        <p class="writep card-text text-secondary fs-5">Lorem ipsum, dolor sit amet consectetur
                            adipisicing elit. Dicta aut illum quis libero. Rerum suscipit ipsum nisi asperiores illum
                            autem?</p><br>
                        <a href="#"
                            class="btn btn-light btn-lg ps-5 pe-5 fs-3 fw-bolder btn-outline-success">Details</a><br><br><br>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 p-4 d-flex justify-content-center">
                <div class="card rounded-4 pic" style="background-color: #3D2462;">
                    <img src="{% static './images/Rectangle 18 (3).png' %}" class="card-img-top pt-5 ps-5 pe-5" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title text-light fw-bolder">Find Best Alumni Near me</h3>
                        <p class="writep card-text text-secondary fs-5">Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Cumque ea quisquam dicta quibusdam a quos aut dolore labore corrupti
                            dolorem.</p><br>
                        <a href="#"
                            class="btn btn-light btn-lg ps-5 pe-5 fs-3 fw-bolder btn-outline-success">Details</a><br><br><br>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="container-fluid carosolbg pt-5"><br><br>
    <div class="container">
        <div class="list-head text-center">
            <h1 class="fs-1 fw-bolder">Alumnai Student University List</h1>
        </div><br><br><br>
        <div class="university text-center">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner carousel-img">
                    <div class="carousel-item active ">
                        <img src="{% static './images/DU.png' %}" class="w-25" alt="...">
                        <img src="{% static './images/03.png' %}" class="w-25" alt="...">
                        <img src="{% static './images/NSU.png' %}" class="w-25" alt="...">
                    </div>
                    <div class="carousel-item justify-content-center">
                        <img src="{% static './images/DU.png' %}" class="w-25" alt="...">
                        <img src="{% static './images/03.png' %}" class="w-25" alt="...">
                        <img src="{% static './images/NSU.png' %}" class="w-25" alt="...">
                    </div>
                    <div class="carousel-item justify-content-center">
                        <img src="{% static './images/DU.png' %}" class="w-25" alt="...">
                        <img src="{% static './images/03.png' %}" class="w-25" alt="...">
                        <img src="{% static './images/NSU.png' %}" class="w-25" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <img src="{% static './images/left.png' %}" alt="">
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <img src="{% static './images/rightt.png' %}" alt="">
                </button>
            </div>
        </div>
        <!-- <div class="noteCard">
            <div class="row">
                <div class="col-8">
                    <div class="cardText">
                        <h1>Looking for your university alumni?</h1>
                        <p>We can help you Find Alumni in your curret university</p>
                    </div>
                </div>
                <div class="col-4 btnCard">
                    <button class="cardButton" onclick="document.location='findAlumni.html'">Find Alumni <span class="arrImg">
                        <img src="{% static './img/rightArrow.png' %}" alt="">
                    </span></button>
                </div>
            </div>
        </div> -->
    </div><br><br><br><br>
</div>

{% endblock %}