{% extends 'base.html' %}
{% load static %}

{% block extra_css %}  
<link rel="stylesheet" href="{% static 'CSS/style.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid search pb-5">
    <div class="container justify-content-center pt-5">
        <div class="row text-center">
            <h1 class="mt-5 fs-1 fw-bolder text-light">Find Alumni Of Your University</h1>
        </div>
        <div class="container searchh mt-5 justify-content-center pb-5">
            <form class="d-flex" role="search" action="{% url 'search_alumni' %}" method="GET">
                {% csrf_token %}
                <input style="height: 70px;" class="form-control text-dark fs-5 fw-semibold  inputbg" type="text"
                    placeholder="Search by University | Department | Company | Job Title" aria-label="Search"
                    id="randomKey" name="randomKey" required>
                <button class=" btn btn-success " type="submit"> <i class="fa fa-search"></i></button>
            </form>
        </div><br><br>
    </div>
</div>

<div class="container-fluid bg-light">
    <div class="container mt-3">
        <div class="row align-items-center">
            <!-- Image Section -->
            <div class="col-12 col-lg-6 text-center p-4">
                <img src="https://res.cloudinary.com/dzfy6yteb/image/upload/v1747943793/convocation_eekh6j.png"
                     alt="Convocation"
                     class="rounded img-fluid w-100" style="max-width: 500px;">
            </div>

            <!-- Text Section -->
            <div class="col-12 col-lg-6 px-4 pb-4">
                <h1 class="text-dark fs-3 fw-bolder text-center text-lg-start">
                    The Leading Alumni Finding Website.
                </h1>
                <p class="text-dark fs-5 text-center text-lg-start text-justify">
                    GradBond is a platform designed to connect alumni with current students and peers, fostering a
                    strong professional and social network. It enables users to search for alumni by name, graduation
                    year, department, or job title, and facilitates mentoring, career guidance, and event participation.
                    Perfect for building lasting relationships within the community!
                </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid my-1">
    <div class="container">
        <div class="row text-center">
            <h1 class="mt-5 fs-2 fw-bolder resent">Recent Events</h1>
        </div>
        <div class="row mt-2 pb-5 d-flex justify-content-center">
            <div class="row mt-2 d-flex justify-content-center">
                {% if events %}
                {% for event in events %}
                <div class="col-lg-4 p-3 col-md-12 col-12 d-flex justify-content-evenly">
                    <div class="card border border-dark"
                        style="width: 25rem; background-color: #3D2462; border-radius: 15px;">
                        {% if event.image %}
                        <img src="{{event.image.url}}" class="card-img-top pt-2 ps-2 pe-2" alt="{{event.title}}"
                            height="200px" style="border-radius: 15px;">
                        {% else %}
                        <img src="https://res.cloudinary.com/dzfy6yteb/image/upload/v1744399284/default_cover.png" class="card-img-top pt-2 ps-2 pe-2" alt="{{event.title}}">
                        {% endif %}
                        <div class="card-body text-center">
                            <h5 class="card-title" style="color: aliceblue;"> {{event.title}} </h5>
                            <p style="color: aliceblue;">{{event.date | date:"F d, Y"}} | {{event.time | time:"h:i A"}}
                            </p>
                            <p class="card-title" style="color: aliceblue;">Organized by <strong>
                                    {{event.user.first_name}}
                                </strong></p>

                            {% if user.is_authenticated %}
                            <a href="{{event.regLink}}" class="btn btn-primary me-3" target="_blank">Registration</a>
                            {% else %}
                            <a href="{% url 'signin' %}" class="btn btn-primary me-3">Registration</a>
                            {% endif %}

                            <a href="{% url 'event-detail' event.id %}" class="mt-2 btn btn-success me-3">More
                                Details</a>

                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-lg-4 p-3 col-md-12 col-12 d-flex justify-content-center ">
                    <p style="color: black;">No events available at the moment. 
                    </p>
                    <a href="{% url 'events' %}" style="margin-left: 5px;">Events</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>


<div class="container-fluid bg-light my-1">
    <div class="container">
        <div class="row text-center">
            <h1 class="mt-5 fs-2 fw-bolder resent">Recent Jobs</h1>
        </div>
        <div class="row mt-2 pb-5 justify-content-center">

            {% if jobs %}
                {% for job in jobs %}
                <div class="col-lg-4 col-md-6 col-sm-10 col-12 p-3 d-flex justify-content-center">
                    <div class="card w-100 border border-dark"
                        style="background-color: #09050f; border-radius: 15px;">

                        <div class="card-body text-center text-white">
                            <h5 class="card-title">{{ job.title }}</h5>
                            <p>{{ job.company }}</p>

                            <div class="text-start">
                                <p><strong>Deadline:</strong> {{ job.deadline|date:"F d, Y" }}</p>
                                <p><strong>Job Type:</strong> {{ job.job_type }}</p>
                                <p><strong>Salary:</strong> {{ job.salary }} BDT</p>
                                <p>Post by <strong>{{ job.user.first_name }}</strong></p>
                            </div>

                            {% if user.is_authenticated %}
                            <a href="{{ job.job_link }}" class="btn btn-primary me-2 mb-2" target="_blank">Apply</a>
                            {% else %}
                            <a href="{% url 'signin' %}" class="btn btn-primary me-2 mb-2">Apply</a>
                            {% endif %}

                            <a href="{% url 'job_detail' job.id %}" class="btn btn-success mb-2">Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-12 text-center mt-4">
                    <p class="text-dark">No jobs available at the moment.</p>
                    <a href="{% url 'jobs' %}" class="btn btn-outline-secondary">Go to Jobs</a>
                </div>
            {% endif %}

        </div>
    </div>
</div>


<div class="container-fluid carosolbg pt-4 pb-5" style="background-color: #f3e5f2;">
    <div class="container">
        <div class="list-head text-center mb-5">
            <h1 class="fs-2 fw-bolder">Universities included in GradBond</h1>
        </div>

        <div class="row justify-content-center align-items-center text-center g-4">
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="https://res.cloudinary.com/dzfy6yteb/image/upload/v1747943790/bubt_k74z2g.png"
                     class="img-fluid" alt="BUBT Logo">
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="https://res.cloudinary.com/dzfy6yteb/image/upload/v1747943790/DU_w4zsxo.png"
                     class="img-fluid" alt="DU Logo">
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="https://res.cloudinary.com/dzfy6yteb/image/upload/v1747943790/aust_uocu3i.png"
                     class="img-fluid" alt="AUST Logo">
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="https://res.cloudinary.com/dzfy6yteb/image/upload/v1747943793/jnu_jsweql.png"
                     class="img-fluid" alt="JNU Logo">
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="https://res.cloudinary.com/dzfy6yteb/image/upload/v1747943794/NSU_q3b7fo.png"
                     class="img-fluid" alt="NSU Logo">
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img src="https://res.cloudinary.com/dzfy6yteb/image/upload/v1747943794/ju_s82by0.png"
                     class="img-fluid" alt="JU Logo">
            </div>
        </div>
    </div>
</div>


{% endblock %}