{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Post Job | GradBond{% endblock %}</title>

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CSS/login.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid main">
    <div class="container">
        <div class="row login-banner">

            <div class="col-xl-8 col-lg-7 col-md-12 col-12 bgcolor">
                <div class="write text-center">
                    <h1 class="text-light pt-5">Post your job</h1>
                </div>
                <form method="POST" class="ms-5 mt-5 ps-2" enctype="multipart/form-data">
                    {% csrf_token %}

                    <label for="jobTitle" class="fs-5 fw-bolder text-light">Job Title</label><br>
                    <input type="text" name="jobTitle" id="jobTitle" class="box" required placeholder="Trainee Software Engineer"><br><br>

                    <label for="jobDes" class="fs-5 fw-bolder text-light">Job Short Description</label><br>
                    <input type="text" name="jobDes" id="jobDes" class="box"><br><br>

                    <label for="companyName" class="fs-5 fw-bolder text-light">Company Name</label><br>
                    <input type="text" name="companyName" id="companyName" class="box" required placeholder="Apploger Inc."><br><br>

                    <label for="deadline" class="fs-5 fw-bolder text-light">Application Deadline</label><br>
                    <input type="date" name="deadline" id="deadline" class="box" required><br><br>

                    <label for="jobLink" class="fs-5 fw-bolder text-light">Job Apply Link (source link)</label><br>
                    <input type="text" name="jobLink" id="jobLink" class="box" required placeholder="https://apploger.com/trainee-software-engineer"><br><br>

                    <label for="jobType" class="fs-5 fw-bolder text-light">Job Type</label><br>
                    <select name="jobType" id="jobType" class="box" required style="padding-left: 10px;">
                        <option value="" disabled selected>Select job type</option>
                        <option value="Internship">Internship</option>
                        <option value="Full-time">Full-time</option>
                        <option value="Part-time">Part-time</option>
                        <option value="Contract">Contract</option>
                    <select><br><br>


                    <label for="experience" class="fs-5 fw-bolder text-light">Experience Needed</label><br>
                    <input type="text" name="experience" id="experience" class="box" required placeholder="Fresher or number of experience year"><br><br>

                    <label for="salary" class="fs-5 fw-bolder text-light">Salary</label><br>
                    <input type="number" name="salary" id="salary" class="box" required placeholder="42500"><br><br>

                    <div class="text-center">
                        <button type="submit" class="btn batonn fs-3 fw-bolder">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div><br><br>
</div>

{% endblock %}